h1 {
  color: blue;
  margin-left: 40px;
}
h2 {
  margin-left: 900px;
  margin-top: 400px;
}
body {
  background-color: cornflowerblue;
}
button {
  margin-left: 50px;
  background-color: darkmagenta;
  color: aqua;
}
